[Unit]
Description={name} service in caonima suite

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/python3 {script_path}
Restart=on-failure
RestartSec=5

StandardOutput = journal
StandardError = journal
SyslogIdentifier = cnm-{name}

[Install]
WantedBy=default.target
